<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Angular Modal Drawer</title>
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width" />

  <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.3/css/bootstrap.css" rel="stylesheet">
  <link href="dist/angular-modal-drawer.css" rel="stylesheet">

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.js"></script>
  <script src="https://code.angularjs.org/1.2.15/angular-route.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.min.js"></script>

  <script src="dist/angular-modal-drawer.js"></script>

  <script type="text/javascript">
    (function() {

      angular.module('app', ['ngModalDrawer', 'ui.bootstrap', 'ngRoute'])
        .config(['$routeProvider',
          function($routeProvider) {}
        ])
        .controller('RootCtrl', ['$scope', 'modalDrawer', function($scope, modalDrawer) {

          $scope.qwerty = "ooh lalalala";

          $scope.open = function(param){
            $scope.popUp = modalDrawer.open({
              resolve: {
                z: function() {
                  return $scope.qwerty;
                },
                param: function(){
                  return param;
                }
              },
              templateUrl: 'foo.html',
              controller: 'PopupCtrl'
            });

            $scope.popUp.result.then(function(){
              console.log("closed!")
            }, function(){
              console.log("failed :/")
            })

            $scope.popUp.opened.then(function(){
              console.log("opened!")
            }, function(){
              console.log("not opened :/")
            })

          }




        }]);

      angular.module('app').controller('PopupCtrl', ['$scope', 'modalDrawer', 'z', 'param', function($scope, modalDrawer, z, param){
        $scope.param = param;
        $scope.foo = "foooooooo";
        console.log("z: ", z);
      }])

    })();
  </script>
</head>

<body ng-app="app">
  <div ng-controller="RootCtrl" class="container">
    <!-- <div id="modalDrawerPopup" class="sidenav"></div> -->
    <h2 ng-click="open('hello')">Open</h2>
    <h2 ng-click="open('is there')">Open</h2>
    <h2 ng-click="open()">Open</h2>
    <h2 ng-click="open()">Open</h2>
    <h2 ng-click="open()">Open</h2>
    <h2 ng-click="open()">Open</h2>
    <h2 ng-click="open()">Open</h2>
    <h2 ng-click="open()">Open</h2>
    <h2 ng-click="open()">Open</h2>
    <h2 ng-click="open()">Open</h2>
    <h2 ng-click="open()">Open</h2>
    <h2 ng-click="open()">Open</h2>
    <h2 ng-click="open()">Open</h2>
    <h2 ng-click="open()">Open</h2>
    <h2 ng-click="open()">Open</h2>
    <h2 ng-click="open()">Open</h2>
    <h2 ng-click="open()">Open</h2>
    <h2 ng-click="open()">Open</h2>
    <h2 ng-click="open()">Open</h2>
    <h2 ng-click="open()">Open</h2>
    <h2 ng-click="open()">Open</h2>
    <h2 ng-click="open()">Open</h2>
    <h2 ng-click="open()">Open</h2>
    <h2 ng-click="open()">Open</h2>
    <h2 ng-click="open()">Open</h2>
    <h2 ng-click="open()">Open</h2>
    <h2 ng-click="open()">Open</h2>
    <h2 ng-click="open()">Open</h2>
    <h2 ng-click="open()">Open</h2>
    <h2 ng-click="open()">Open</h2>
    <h2 ng-click="open()">Open</h2>
    <h2 ng-click="open()">Open</h2>
    <h2 ng-click="open()">Open</h2>
    <h2 ng-click="open()">Open</h2>
    <h2 ng-click="open()">Open</h2>
    <h2 ng-click="open()">Open</h2>
    <h2 ng-click="open()">Open</h2>
    <h2 ng-click="open()">Open</h2>
    <h2 ng-click="open()">Open</h2>

  </div>
</body>

</html>